@charset "utf-8";
/*轮播图*/
#luenbo_img {
  width: 100%;
  height: 515px;
  position: relative;
}

.luenimg{
  width: 100%;
  height: 515px;
  margin: auto;
}
.luenimg img{
  width: 100%;
  height: 515px;

}
#luenbo_img ol{
  position: absolute;
  top: 90%;
  left: 40%;
  >li{
    float: left;
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    /*border: 1px solid red;*/
    border-radius: 50%;
    background: #666666;
  }
}
#luenbo_img ol .se{
  background: #ffa340;
}
