@charset "utf-8";

#stairs_left{
  position: fixed;
  left: 2px;
  top: 160px;
  display: none;
  ul{
    li{
      line-height: 30px;
      border-bottom: 1px dotted #666;
      color: #666;
    }
  }
};
.yanse{
  background: red;
}
#stairs_left li:hover{
background: red;
}