@charset "utf-8";

#stairs_right{
  position: fixed;
  width: 54px;
  right: 0px;
  top: 60%;
  z-index: 100;
  background: #666;
  ul li{
    width: 54px;
    height: 54px;
    border-bottom: 1px solid #999;
    opacity: 0.5;
    }
  }


