@charset "utf-8";

#stairs_left{
  position: fixed;
  left: 50%;
  margin-left: -630px;
  top: 160px;
  ul li{
    line-height: 30px;
    border-bottom: 2px dotted #abcdef;
    a{
      display: block;
      padding-bottom: 3px;
      color: #abcdef;
    }
  }
}