@charset "utf-8";

#stairs_right{
  position: fixed;
  right:0px;
  top: 60%;
  z-index: 100;
  width: 54px;
  text-align: right;
  li{
   position: absolute;
    right: 0;
    border-bottom: 1px solid #ccc;
    background: #666;
     opacity: 0.8;
    width: 50px;
    height: 54px;
 text-align: right;
  }
  .weixin{
    position: relative;
  }
  .erweima{
   visibility: hidden;
    position: absolute;
    left: -151px;
    top: -71px;
    display: inline-block;
    width: 150px;
    height: 150px;
  }
  .weixin:hover .erweima{
     visibility: visible;
    opacity: 1;
  }
.QQa{
    overflow: hidden;

    width: 54px;
    height: 54px;
    position: relative;
    line-height: 54px;
    color: #fff;
    img{
      float: left;
    }
   
}
}


.huidaodingbu{
display: none;
}