@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

a, li {
  list-style: none;
  text-decoration: none; }

.header_up {
  width: 100%;
  height: 35px;
  background: #fff;
  border-bottom: 1px solid #ccc; }

.top {
  width: 1263px;
  height: 35px;
  background: #fff;
  margin: auto;
  line-height: 35px; }

.header_up_left {
  margin-left: 50px;
  float: left; }
  .header_up_left p {
    display: inline;
    font-size: 12px;
    color: #CCCCCC; }

.dengl {
  font-size: 12px;
  margin-left: 5px; }

.header_up_right {
  float: right;
  padding-right: 10px; }
  .header_up_right ol > li {
    float: left;
    font-size: 13px;
    line-height: 35px;
    margin: 0 10px;
    position: relative; }
    .header_up_right ol > li > a {
      color: #000;
      height: 20px;
      border-right: 1px solid #CCCCCC;
      margin-right: 5px;
      padding: 0 3px; }

.header_up_aul {
  border: 1px solid #CCCCCC;
  background: #fff;
  position: absolute;
  width: 108px;
  text-indent: 10px;
  display: none;
  background: #fff;
  z-index: 10; }

.header_up_bul {
  border: 1px solid #CCCCCC;
  width: 110px;
  position: absolute;
  left: -28px;
  text-indent: 10px;
  display: none;
  background: #fff;
  z-index: 10; }

.header_up_aul > li:hover {
  background: #ccc; }

.header_up_bul > li:hover {
  background: #ccc; }

.header_up_right > ol > li:nth-of-type(1):hover .header_up_aul {
  display: block; }

.header_up_right > ol > li:nth-of-type(2):hover .header_up_bul {
  display: block; }

.header_up_right > ol > li:nth-of-type(3):hover a {
  color: red; }

.san {
  background: url("../img/new_png_06 (1).png") no-repeat center; }

.header_up_right > ol > li:nth-of-type(1):hover .san {
  background: url("../img/rj.png") no-repeat center; }

.header_up_right > ol > li:nth-of-type(2):hover .san {
  background: url("../img/rj.png") no-repeat center; }

.xing {
  background: url("../img/new_png_02.png") no-repeat center; }

.dian {
  background: url("../img/new_png_03.png") no-repeat -2px 5px; }

/*上面第一部分*/
.header_middle {
  width: 100%;
  height: 85px;
  background: #fff; }

.logo {
  width: 1190px;
  height: 85px;
  background: #ffff;
  margin: auto;
  position: relative; }

.img {
  position: absolute;
  left: 10px;
  top: 10px; }

.form {
  position: absolute;
  left: 350px;
  top: 12px;
  width: 553px;
  height: 57px; }
  .form form {
    padding: 0;
    margin: 0;
    width: 100%;
    border: 1px solid red; }
    .form form input {
      width: 466px;
      height: 30px;
      border: none;
      outline: medium;
      text-indent: 15px; }
    .form form button {
      width: 82px;
      height: 32px;
      background: red;
      border: none;
      color: #fff;
      outline: medium; }

button:hover {
  cursor: pointer; }

.txt {
  font-size: 12px;
  margin-top: 5px;
  color: #666; }
  .txt > a {
    margin: 0 10px;
    color: #CCCCCC; }

.shopping {
  width: 130px;
  height: 37px;
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 99999;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 32px;
  background: #fff; }
  .shopping b {
    background: url("../img/new_png_04.png") no-repeat center;
    margin: 0 5px; }
  .shopping i {
    background: url("../img/new_png_06.png") no-repeat center;
    margin: 0 5px; }

.shopping_kong {
  position: absolute;
  right: -1px;
  top: 36px;
  width: 350px;
  height: 65px;
  background: #fff;
  display: none;
  border: 1px solid #ccc;
  color: #666; }

.shopping_zhe {
  position: absolute;
  right: 0px;
  top: -3px;
  display: inline-block;
  width: 130px;
  height: 5px;
  background: #fff; }

.shopping:hover .shopping_kong {
  display: block; }

/*logo 及搜索框*/
.header_below {
  width: 100%;
  height: 43px;
  background: #fff;
  overflow: hidden; }

.nav {
  width: 1190px;
  height: 43px;
  background: #fff;
  margin: auto;
  border-bottom: 2px solid red; }
  .nav > ol {
    overflow: hidden;
    line-height: 43px;
    border-bottom: 3px solid red; }
    .nav > ol > li {
      float: left;
      text-align: center; }
      .nav > ol > li > a {
        width: 117px;
        height: 42px;
        color: #000;
        display: block; }

.nav .nav_da {
  width: 240px;
  height: 41px;
  background: red; }

.nav .nav_da b {
  background: url("../img/hot.gif") no-repeat center;
  margin: 0 5px; }

.nav .nav_da i {
  background: url("../img/new.gif") no-repeat center;
  margin: 0 5px; }

.nav > ol > li > a:hover {
  color: #ff0099; }

.nav_min {
  width: 556px;
  height: 512px;
  background: #fff;
  position: absolute;
  left: 240px;
  top: 0px;
  z-index: 999;
  display: none; }

.nav_ali > li:hover .nav_min {
  display: block; }

.huvp {
  display: inline; }

.nav_min > ul > li {
  margin: 5px 15px 0 20px;
  border-bottom: 1px dotted #666; }
  .nav_min > ul > li span {
    display: inline-block;
    margin-right: 15px;
    height: 100%;
    font-size: 14px;
    color: red;
    font-weight: 900; }
  .nav_min > ul > li .huvp {
    display: inline-block;
    width: 300px;
    height: 40px; }
    .nav_min > ul > li .huvp > a {
      margin-right: 10px;
      color: #666;
      font-size: 14px; }

.nav_min > ul > li .huvp > a:hover {
  color: red; }

/*导航*/
/*轮播图*/
#luenbo_img {
  width: 100%;
  height: 515px;
  position: relative; }

.luenimg {
  position: absolute;
  width: 100%;
  height: 515px;
  margin: auto;
  overflow: hidden; }

.luenimg img {
  width: 100%;
  height: 515px; }

.nav_ali {
  background: #ccc;
  text-align: left;
  text-indent: 10px;
  opacity: 0.7;
  font-size: 14px;
  line-height: 43px;
  width: 240px;
  height: 515px;
  color: #000;
  position: absolute;
  top: 0;
  left: 37px; }

.nav_ali > li:hover {
  color: red;
  text-indent: 20px;
  background: #666666;
  transition: all 1s; }

#luenbo_img ol {
  position: absolute;
  top: 90%;
  left: 40%; }
  #luenbo_img ol > li {
    float: left;
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    cursor: pointer;
    /*border: 1px solid red;*/
    border-radius: 50%;
    background: #666666;
    opacity: 0.8; }

#luenbo_img ol .se {
  background: #ffa340; }

/*轮播图*/
#stairs_right {
  position: fixed;
  right: 0px;
  top: 60%;
  z-index: 100;
  width: 54px;
  text-align: right; }
  #stairs_right li {
    position: absolute;
    right: 0;
    border-bottom: 1px solid #ccc;
    background: #666;
    opacity: 0.8;
    width: 50px;
    height: 54px;
    text-align: right; }
  #stairs_right .weixin {
    position: relative; }
  #stairs_right .erweima {
    visibility: hidden;
    position: absolute;
    left: -151px;
    top: -71px;
    display: inline-block;
    width: 150px;
    height: 150px; }
  #stairs_right .weixin:hover .erweima {
    visibility: visible;
    opacity: 1; }
  #stairs_right .QQa {
    overflow: hidden;
    width: 54px;
    height: 54px;
    position: relative;
    line-height: 54px;
    color: #fff; }
    #stairs_right .QQa img {
      float: left; }

.huidaodingbu {
  display: none; }

/*右边的楼梯*/
#stairs_left {
  position: fixed;
  left: 2px;
  top: 160px;
  display: none; }
  #stairs_left ul li {
    line-height: 30px;
    border-bottom: 1px dotted #666;
    color: #666; }

.yanse {
  background: red; }

#stairs_left li:hover {
  background: red; }

/*左边的楼梯*/
.jiesuao {
  width: 100%; }
  .jiesuao .dizhi {
    width: 1190px;
    height: 48px;
    margin: auto;
    line-height: 48px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    color: #666; }

.dizhi:hover {
  color: red; }

.refeet {
  width: 100%;
  border-bottom: 1px sandybrown solid;
  margin-bottom: 50px; }

.wrap {
  width: 1190px;
  height: 510px;
  background: #fff;
  margin: 0 auto;
  position: relative; }
  .wrap #spic {
    width: 400px;
    height: 400px;
    background: #66ff66;
    margin: 25px;
    border: 1px solid #ccc;
    float: left;
    position: relative; }
    .wrap #spic img {
      width: 400px;
      height: 400px; }

#sf {
  background: orange;
  opacity: 0.3;
  position: absolute;
  left: 0px;
  top: 0px;
  visibility: hidden; }

#bf {
  width: 400px;
  height: 500px;
  border: 1px solid #000;
  float: left;
  overflow: hidden;
  position: relative;
  left: 0px;
  visibility: hidden;
  z-index: 222; }
  #bf img {
    position: absolute;
    left: 0px;
    top: 0px; }

#ulist {
  position: absolute;
  left: 0px;
  bottom: 15px;
  width: 402px;
  height: 56px;
  overflow: hidden; }
  #ulist a {
    float: left;
    width: 10px;
    height: 54px;
    border: 1px solid #ccc;
    text-decoration: none;
    line-height: 56px;
    text-align: center;
    background: #fff; }

#list {
  float: left;
  margin-left: 18px;
  width: 372px;
  position: relative; }
  #list ul {
    list-style: none;
    float: left;
    position: absolute;
    left: 0px;
    top: 0px; }
    #list ul li {
      float: left;
      width: 56px;
      height: 56px;
      padding-right: 6px; }
      #list ul li img {
        width: 52px;
        height: 52px;
        border: 1px solid #ccc; }

#right {
  position: absolute;
  right: 0px;
  top: 0px;
  color: #333; }

#left {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  color: #fff; }

.price {
  position: absolute;
  left: 450px;
  top: 0px;
  width: 710px;
  height: 500px; }

.price > div {
  text-indent: 5px; }

.title {
  line-height: 65px;
  height: 65px;
  margin: 10px 0; }

.price_a {
  height: 40px;
  background: #fff;
  color: #666666;
  font-size: 14px;
  line-height: 40px;
  margin: 10px 0; }
  .price_a > b {
    text-decoration: line-through; }

.price_b {
  height: 40px;
  background: #CCCCCC;
  line-height: 40px;
  margin: 0; }
  .price_b > b {
    display: inline-block;
    color: red;
    font-size: 20px; }

.price_c {
  height: 39px;
  background: #CCCCCC;
  color: #666666;
  font-size: 14px;
  line-height: 39px; }
  .price_c > span {
    padding: 5px;
    width: 80px;
    background: red;
    margin-right: 15px;
    color: #fff;
    font-size: 16px; }

.newt_a {
  height: 52px;
  color: #666666;
  font-size: 14px;
  background: #CCCCCC;
  line-height: 52px;
  border-bottom: 1px dotted #666; }
  .newt_a > span {
    margin-right: 15px; }
  .newt_a > i {
    font-weight: 900px; }

.newt_b {
  height: 52px;
  color: #666666;
  font-size: 14px;
  line-height: 52px;
  margin: 10px 0;
  border-bottom: 1px dotted #666; }
  .newt_b > span {
    margin-right: 15px; }
  .newt_b > a {
    background: url("../img/zffsico.png") no-repeat 0px; }
  .newt_b > i {
    font-style: normal;
    font-weight: 900; }
  .newt_b > b {
    margin-right: 20px; }
  .newt_b > em {
    background: url("../img/zffsico.png") no-repeat 0px -58px; }

.newt_c {
  height: 52px;
  color: #666666;
  font-size: 14px;
  margin: 10px 0;
  line-height: 52px;
  border-bottom: 1px dotted #666; }
  .newt_c > b {
    padding: 15px 50px;
    background: url("../img/qqfx1.png") no-repeat 10px; }
  .newt_c > i {
    font-style: normal;
    font-weight: 800;
    padding: 15px 50px;
    background: url("../img/wbfx1.png") no-repeat 10px; }
  .newt_c > em {
    font-style: normal;
    font-weight: 800;
    padding: 15px 50px;
    background: url("../img/dbfx1.png") no-repeat 10px; }
  .newt_c > strong {
    padding: 15px 50px;
    background: url("../img/wxfx1.png") no-repeat 10px; }

.newt_c em:hover {
  color: red; }

.newt_c strong:hover {
  color: red; }

.newt_c i:hover {
  color: red; }

.newt_c b:hover {
  color: red; }

.price_newt {
  margin: 20px 0 0 15px;
  border-radius: 10%; }
  .price_newt > span {
    margin-top: 10px;
    display: inline-block;
    width: 130px;
    height: 50px;
    border: 1px solid red;
    background: #fff;
    text-align: center;
    line-height: 50px;
    margin-right: 15px;
    color: red;
    cursor: pointer;
    font-size: 14px;
    font-weight: 900;
    border-radius: 8%;
    background: url("../img/lxqq.png") no-repeat 90px; }
  .price_newt > b {
    margin-top: 10px;
    display: inline-block;
    width: 130px;
    height: 50px;
    border: 1px solid red;
    background: #fff;
    text-align: center;
    line-height: 50px;
    margin-right: 15px;
    color: red;
    cursor: pointer;
    font-size: 14px;
    border-radius: 8%;
    background: url("../img/upload.png") no-repeat 90px; }

/*详情页*/
/*登录页面*/
.atu {
  width: 100%;
  height: 101px;
  background: #fff;
  border-bottom: 1px solid #CCCCCC; }
  .atu .atu_center {
    width: 980px;
    height: 101px;
    margin: auto;
    background: #fff; }
    .atu .atu_center p {
      padding: 70px 0 0 800px;
      font-size: 14px;
      font-weight: 900;
      color: red; }
      .atu .atu_center p i {
        background: url("../img/new_png_03.png") no-repeat; }

.atu_right {
  float: right; }
  .atu_right li {
    float: left;
    font-size: 12px;
    color: #CCCCCC;
    margin-top: 5px; }
    .atu_right li a {
      display: inline-block;
      padding: 0 15px 0 5px;
      border-right: 1px solid #CCCCCC;
      color: #CCCCCC; }
    .atu_right li > i {
      background: url("../img/new_png_02.png"); }
  .atu_right .hover_red:hover {
    color: red; }

.atu_left {
  float: left; }
  .atu_left img {
    display: inline-block;
    margin: 20px 0 0 15px; }

.repat {
  width: 100%;
  height: 541px;
  background: #fff;
  border-bottom: 1px solid #CCCCCC; }
  .repat .repat_center {
    width: 980px;
    height: 541px;
    margin: auto; }

.repat_img {
  float: left; }
  .repat_img img {
    display: inline-block;
    padding: 40px 0px 40px 0px; }

.repat_forma {
  border: 1px solid #CCCCCC;
  width: 380px;
  height: 450px;
  float: right;
  margin: 40px 0px 40px 0px; }
  .repat_forma h4 {
    margin-top: 20px;
    text-indent: 20px;
    font-weight: 100;
    width: 100%;
    font-size: 22px;
    color: #333333; }

.input_a {
  height: 40px;
  width: 318px;
  border: 1px #E2E2E2 solid;
  text-align: center;
  line-height: 40px;
  margin: 10px 0 32px 20px; }
  .input_a > input {
    text-indent: 15px;
    width: 270px;
    height: 40px;
    border: 0px;
    float: left;
    outline: medium; }
  .input_a b {
    display: block;
    float: left;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-right: 5px;
    width: 40px;
    color: #666666;
    border-right: 1px solid #CCCCCC;
    background: url("../img/loginico.png") no-repeat 10px -173px; }

.input_b {
  height: 40px;
  width: 318px;
  border: 1px #E2E2E2 solid;
  line-height: 40px;
  margin: 10px 0 0 20px; }
  .input_b > input {
    text-indent: 15px;
    width: 270px;
    height: 40px;
    border: 0px;
    float: left;
    outline: medium; }
  .input_b b {
    display: block;
    float: left;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-right: 5px;
    width: 40px;
    color: #666666;
    border-right: 1px solid #CCCCCC;
    background: url("../img/loginico.png") no-repeat 10px -111px; }

.input_c {
  width: 318px;
  color: #666666;
  margin: 15px 0 0 15px;
  text-align: right; }
  .input_c span {
    text-align: right; }

.input_c > span:hover {
  color: red; }

.aa {
  width: 320px;
  height: 46px;
  background: red;
  margin: 15px 0 0 15px;
  text-align: center;
  line-height: 46px; }

.but_a {
  display: block;
  background: red;
  font-size: 20px;
  font-family: "微软雅黑";
  width: 320px;
  height: 46px;
  border: none;
  margin: 15px 0 0 15px;
  text-align: center;
  line-height: 46px; }
  .but_a > a {
    color: #fff; }

.but_b a {
  display: block;
  background: #f0f0f0;
  font-size: 18px;
  color: #000;
  font-family: "微软雅黑"; }

.but_c a {
  display: block;
  background: #80c4f2;
  font-size: 18px;
  color: #fff;
  font-family: "微软雅黑"; }

.but_d {
  margin: 15px 0 0 15px; }
  .but_d a {
    color: #666666;
    font-size: 14px; }

.repat-foot {
  width: 100%;
  height: 202px;
  background: #f58; }

/*登录页面*/
/*尾部上面的li页面*/
#pick {
  width: 100%;
  height: 202px; }
  #pick .pick_a {
    width: 1190px;
    height: 202px;
    background: #fafafa;
    margin: auto;
    text-align: center; }
    #pick .pick_a li {
      float: left;
      width: 137px;
      height: 140px;
      background: #fafafa;
      border-right: 1px solid #ccc;
      margin-top: 30px; }

.Pick_li > h4 {
  font-size: 14px;
  font-family: " 微软雅黑";
  margin-bottom: 5px; }

.pick_a a {
  display: block;
  width: 100%;
  line-height: 20px;
  font-size: 13px;
  color: #666; }

.pick_a a:hover {
  color: red; }

#pick .pick_a .li_right {
  width: 300px; }

.li_right .foot_img {
  margin: 20px 0 0 20px;
  float: left;
  width: 40px;
  height: 60px; }

.li_right .shijian {
  margin: 20px 0;
  float: left;
  width: 180px;
  height: 100px; }
  .li_right .shijian h4 {
    font-size: 14px;
    font-family: " 微软雅黑";
    color: red; }
  .li_right .shijian span {
    margin-top: 15px;
    color: #666; }

.foot_img_a {
  background: url("../img/font_4.png") no-repeat; }

.li_right .foot_img_b {
  width: 80px;
  background: url("../img/font_3.png") no-repeat; }

/*登录页面*/
/*注册页面*/
#kjtfay {
  width: 100%; }
  #kjtfay .page {
    width: 950px;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 80px;
    padding: 5px 20px 20px 20px;
    margin: 5px 0;
    font-size: 14px;
    margin: auto;
    background: #fff; }

.name_h4 {
  margin-left: 100px;
  width: 750px;
  height: 35px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  text-indent: 15px; }
  .name_h4 H3 {
    float: left;
    border: 1px solid #ccc;
    border-top: 3px solid red;
    height: 29px;
    line-height: 29px;
    padding: 0 7px 2px 0;
    margin: 0 1px 0 100px;
    border-bottom: none; }
  .name_h4 h4 {
    margin-top: 4px;
    float: left;
    border: 1px solid #ccc;
    padding: 0 7px 2px 0;
    height: 29px;
    line-height: 40px; }

#form_mian {
  margin-top: 10px;
  margin-left: 200px;
  width: 590px;
  overflow: hidden; }
  #form_mian span {
    float: left;
    margin-left: 10px;
    line-height: 42px; }
  #form_mian b {
    font-size: 16px;
    font-family: "微软雅黑";
    color: #666;
    margin-left: 20px;
    font-weight: 100; }
    #form_mian b em {
      position: absolute;
      left: 3px;
      top: 3px;
      font-size: 18px;
      color: red; }
  #form_mian input {
    text-indent: 10px;
    width: 263px;
    height: 39px;
    border: none;
    outline: medium; }

.form_a {
  overflow: hidden; }
  .form_a .form_left_a {
    position: relative;
    float: left;
    width: 385px;
    height: 42px;
    border: 1px solid #ccc;
    line-height: 42px;
    margin-bottom: 15px; }
    .form_a .form_left_a i {
      margin-left: 5px;
      background: url("../img/loginico.png") no-repeat 0 -283px; }

.form_b {
  overflow: hidden;
  position: relative; }
  .form_b .form_left_b {
    border: 1px solid red;
    position: relative;
    float: left;
    width: 385px;
    height: 42px;
    border: 1px solid #ccc;
    line-height: 42px;
    margin-bottom: 5px; }
    .form_b .form_left_b i {
      margin-left: 5px;
      background: url("../img/loginico.png") no-repeat 0 -235px; }

.safety {
  width: 160px;
  font-size: 13px;
  color: #666;
  margin-left: 220px;
  margin-bottom: 15px; }
  .safety > a {
    background: #ccc;
    padding: 0 10px;
    color: #fff;
    border-right: 1px solid #fff; }
  .safety > i {
    background: #ccc;
    padding: 0 10px;
    color: #fff;
    border-right: 1px solid #fff; }
  .safety > strong {
    background: #ccc;
    padding: 0 10px;
    color: #fff; }

.form_c {
  overflow: hidden;
  position: relative; }
  .form_c .form_left_b {
    border: 1px solid red;
    position: relative;
    float: left;
    width: 385px;
    height: 42px;
    border: 1px solid #ccc;
    line-height: 42px;
    margin-bottom: 15px; }
    .form_c .form_left_b i {
      margin-left: 5px;
      background: url("../img/loginico.png") no-repeat 0 -235px; }

.form_d {
  overflow: hidden;
  position: relative; }
  .form_d .form_left_b {
    border: 1px solid red;
    float: left;
    width: 385px;
    height: 42px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    line-height: 42px; }
    .form_d .form_left_b select {
      width: 263px;
      height: 39px;
      border: none;
      outline: medium;
      text-indent: 15px; }

.form_e {
  overflow: hidden;
  position: relative; }
  .form_e .form_left_b {
    border: 1px solid red;
    float: left;
    width: 385px;
    height: 42px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    line-height: 42px; }
    .form_e .form_left_b select {
      width: 263px;
      height: 39px;
      border: none;
      outline: medium;
      text-indent: 15px; }

.form_f {
  overflow: hidden; }
  .form_f .form_left_a {
    position: relative;
    float: left;
    width: 385px;
    height: 42px;
    border: 1px solid #ccc;
    line-height: 42px;
    margin-bottom: 15px; }
    .form_f .form_left_a i {
      margin-left: 5px;
      background: url("../img/loginico.png") no-repeat 0 -283px; }

.form_g {
  overflow: hidden; }
  .form_g .form_left_a {
    position: relative;
    float: left;
    width: 385px;
    height: 42px;
    border: 1px solid #ccc;
    line-height: 42px;
    margin-bottom: 15px; }
    .form_g .form_left_a i {
      margin-left: 5px;
      background: url("../img/loginico.png") no-repeat 0 -283px; }

#form_mian .form_h {
  margin-bottom: 15px;
  overflow: hidden; }
  #form_mian .form_h > .yzm_a {
    float: left;
    width: 172px;
    border: 1px solid #CCCCCC;
    margin-right: 15px; }
    #form_mian .form_h > .yzm_a > input {
      width: 172px; }

.form_h > .yzm_b {
  float: left;
  width: 142px;
  line-height: 42px;
  height: 42px;
  background: #CCFF99;
  text-align: center;
  font-size: 30px;
  font-style: italic; }

#form_mian .form_i {
  margin-bottom: 15px;
  overflow: hidden; }
  #form_mian .form_i > .yzm_a {
    float: left;
    width: 172px;
    border: 1px solid #CCCCCC;
    margin-right: 15px; }
    #form_mian .form_i > .yzm_a > input {
      width: 172px; }
  #form_mian .form_i > .yzm_bb {
    float: left;
    width: 142px;
    line-height: 42px;
    height: 42px;
    background: #ccc;
    color: red;
    text-align: center; }

#form_mian .form_j {
  font-size: 14px; }
  #form_mian .form_j > input {
    width: 20px;
    height: 15px; }
  #form_mian .form_j > a {
    color: red; }

.form_k > .form_submit {
  width: 385px;
  height: 42px;
  background: #e50012;
  text-align: center;
  font-size: 20px;
  line-height: 42px;
  width: 385px;
  height: 42px;
  display: block;
  color: #fff;
  margin-bottom: 10px; }

#form_mian .form_k .form_submit {
  width: 385px;
  height: 42px;
  background: #e50012;
  text-align: center;
  font-size: 20px;
  line-height: 42px;
  width: 385px;
  height: 42px;
  display: block;
  cursor: pointer;
  color: #fff;
  margin-bottom: 10px; }

.form_m {
  overflow: hidden;
  margin-bottom: 30px; }
  .form_m > a {
    color: red; }

/*注册页面*/
.not {
  width: 100%; }
  .not .not_ceng {
    width: 1000px;
    height: 85px;
    margin: 0 auto;
    background: #fff; }

.not_logo {
  float: left;
  margin: 15px 0 0 -100px; }

.not_span {
  float: right; }
  .not_span b {
    margin-top: 20px;
    display: block;
    width: 675px;
    height: 20px;
    background: url("../img/step_2.png"); }
  .not_span span {
    float: left;
    display: block;
    width: 225px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #666666;
    font-family: '微软雅黑'; }

.mei_deng {
  width: 1082px;
  height: 38px;
  margin: auto;
  margin-top: 10px;
  background: #ccc;
  line-height: 38px;
  font-size: 14px;
  color: #666; }
  .mei_deng > i {
    margin-left: 15px;
    background: url("../img/tanhao.png") no-repeat center; }
  .mei_deng a {
    margin-left: 10px;
    background: red;
    color: #fff;
    font-size: 14px; }

.shopping_span {
  width: 1082px;
  margin: auto;
  color: red;
  margin-top: 25px; }
  .shopping_span > span {
    display: inline-block;
    width: 100px;
    height: 42px;
    border: 1px solid #ccc;
    line-height: 42px;
    text-align: center;
    border-top: 2px solid red;
    border-bottom: none; }

.shopping_ul {
  width: 1082px;
  height: 40px;
  background: #fff;
  margin: auto;
  line-height: 40px;
  border: 1px solid #ccc;
  margin-bottom: 20px; }
  .shopping_ul li {
    float: left;
    margin-left: 15px;
    font-size: 14px;
    color: #666; }

.stp_a {
  width: 10px; }

.stp_b {
  width: 105px; }

.stp_c {
  width: 200px; }

.stp_d {
  width: 140px; }

.stp_e {
  width: 135px; }

.stp_f {
  width: 100px; }

.stp_g {
  width: 95px; }

.stp_h {
  width: 100px; }

.stp_i {
  width: 35px; }

.money {
  width: 1080px;
  margin: auto;
  margin-top: 100px;
  background: #CCCCCC;
  height: 45px;
  text-align: right;
  line-height: 45px;
  margin-bottom: 50px; }
  .money a {
    background: #e50112;
    color: #fff;
    display: inline-block;
    height: 45px;
    width: 130px;
    text-align: center; }
  .money b {
    color: red; }
  .money strong {
    color: red;
    margin-right: 15px; }

.shopping_cp {
  width: 1080px;
  height: 200px;
  margin: auto; }
  .shopping_cp ul > li {
    background: #CCCCCC;
    float: left;
    height: 100px; }

.wupin_a {
  padding-left: 15px;
  padding: 12px 10px;
  font-size: 14px;
  color: #666666; }

.wupin_b > img {
  display: inline-block;
  width: 100px;
  height: 100px; }

.wupin_c {
  padding: 12px 10px;
  width: 150px;
  font-size: 14px;
  color: #666666; }

.wupin_d {
  padding: 12px 10px;
  width: 140px;
  font-size: 14px;
  color: #666666; }

.wupin_e {
  padding: 12px 10px;
  width: 177px;
  font-size: 14px;
  color: #666666;
  text-align: center; }

.wupin_f {
  padding: 12px 10px;
  width: 72px;
  font-size: 14px;
  color: #666666;
  text-align: center; }

.wupin_g {
  padding: 12px 10px;
  font-size: 14px;
  color: #666666;
  text-align: center; }
  .wupin_g .input_aww {
    width: 15px; }
  .wupin_g .input_bww {
    width: 33px;
    text-align: center; }
  .wupin_g .input_cww {
    width: 15px; }

.wupin_h {
  padding: 12px 10px;
  width: 107px;
  font-size: 14px;
  color: #666666;
  text-align: center; }

.wupin_i {
  padding: 12px 10px;
  width: 74px;
  font-size: 14px;
  color: #666666;
  text-align: center; }
  .wupin_i span {
    display: block;
    margin-bottom: 5px;
    cursor: pointer; }
  .wupin_i b {
    font-weight: normal;
    cursor: pointer; }

.wupin_i span:hover {
  color: red; }

.wupin_i b:hover {
  color: red; }

/*购物车页面*/
/*热门品牌*/
#hot {
  /*热门品牌大盒子*/
  width: 100%;
  height: 253px;
  background: #fff; }
  #hot .hot_a {
    width: 1190px;
    height: 253px;
    margin: auto;
    overflow: hidden; }

#mian h3 {
  /*热门品牌标题*/
  padding-top: 10px;
  border-bottom: 3px solid red;
  color: red; }

.hot_ceng {
  width: 1190px;
  height: 213px;
  border: 1px solid #ccc;
  border-top: none;
  position: relative; }
  .hot_ceng .hot_boxa {
    width: 1920px;
    height: 213px;
    background: #fff;
    position: absolute; }
    .hot_ceng .hot_boxa ul {
      overflow: hidden; }
    .hot_ceng .hot_boxa ul > li {
      margin: 5px 10px;
      width: 140px;
      height: 60px;
      float: left;
      vertical-align: bottom;
      cursor: pointer; }
  .hot_ceng .hot_boxa ul li:hover {
    vertical-align: top;
    box-shadow: 0 10px 10px #666666;
    width: 140px; }
  .hot_ceng .hot_boxb {
    width: 1920px;
    height: 213px;
    background: #fff;
    position: absolute;
    left: 1192px;
    /*visibility: hidden;*/ }
    .hot_ceng .hot_boxb ul > li {
      margin: 8px 10px;
      width: 140px;
      height: 55px;
      text-align: center;
      float: left;
      cursor: pointer; }

.hot_boxb ul li:hover {
  vertical-align: top;
  box-shadow: 0 10px 10px #666666;
  width: 140px; }

.si_img {
  /*流动图下面的四张图*/
  width: 1195px;
  height: 200px;
  margin: auto;
  background: #fff;
  margin-bottom: 15px; }
  .si_img a {
    padding-left: 3px;
    display: inline-block;
    margin: 13px 3px;
    height: 180px; }

.si_img > a:hover {
  margin-bottom: 10px;
  box-shadow: 0px 10px 15px #666;
  transition: all 0.8s; }

#mian {
  width: 100%; }
  #mian .mian_zhong {
    width: 1198px;
    margin: auto;
    background: #fff; }

.mian_ff {
  width: 1198px;
  height: 326px;
  border: 1px solid #666;
  margin-bottom: 5px;
  overflow: hidden; }

.mian_box1 {
  float: left;
  width: 340px;
  height: 327px;
  position: relative;
  border-right: 1px solid #ccc;
  border-bottom: 0px; }

.mian_box2 {
  float: right;
  width: 856px;
  height: 326px;
  /* border:  1px solid #666;*/
  /* border-right: 1px solid #ccc;
   border-bottom: 1px solid #ccc;*/ }

.mian_box2 > a:hover img {
  margin-left: -10px;
  opacity: 0.7; }

.box1_ol {
  width: 180px;
  height: 200px;
  position: absolute;
  top: 10px;
  left: 10px; }
  .box1_ol > li {
    float: left;
    width: 80px;
    line-height: 28px;
    margin: 1px; }
    .box1_ol > li a {
      display: block;
      font-size: 12px;
      color: #666;
      text-align: center; }

.box1_ol > li > a:hover {
  color: red; }

.mian_box2 > a {
  display: inline-block;
  width: 281px;
  height: 162px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }
  .mian_box2 > a img {
    display: block;
    width: 280px; }

/*# sourceMappingURL=index.css.map */
